.top {
  font-size: 40px; background-color: #FDC300; padding: 10px;
}

.menuList {
  font-size: 15px; list-style-type: none; float: right;
}

.menu {
  display: inline; border-left: 1px solid; padding: 10px;
}

.menu:first-child {
  border-left: none;
}
